<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ветеринарная клиника ПИКМИ</title>
    <link rel="stylesheet" href="{{ asset('assets/css/shedule.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/Hompage.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <div class="logo-container">
                <img src="assets/images/clinic_logo.png" alt="Логотип клиники" class="logo-img">
                <div class="logo-text">
                    <div class="clinic-name">ВЕТЕРИНАРНАЯ<br>КЛИНИКА<br>ПИКМИ</div>
                </div>
            </div>
            <div class="contact-container">
                <div class="contact">
                    <p>+7(913)6662233</p>
                    <p>ул. Гурьевская 51</p>
                    <p><a href="/adminka">Админка</a></p>
                </div>
                <a href="#"><img src="assets/images/profile_icon.png" alt="Профиль" class="profile-icon"></a>
            </div>
        </header>

        <nav>
            <a href="/">Главная</a>
            <a href="appointment">Записаться</a>
            <a href="my_pets">Мои питомцы</a>
            <a href="forum_list">Наше сообщество</a>
            <a href="chat">Консультация</a>
        </nav>

    <div class="schedule-container">
      <table class="doctors-schedule">
        <thead>
          <tr>
            <th>Направление</th>
            <th>ФИО</th>
            <th>ПН</th>
            <th>ВТ</th>
            <th>СР</th>
            <th>ЧТ</th>
            <th>ПТ</th>
            <th>СБ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="2">Хирург</td>
            <td>Иванова А.А.</td>
            <td>9:00-13:00</td>
            <td>7:00-10:00</td>
            <td>-</td>
            <td>11:00-15:00</td>
            <td>10:00-14:00</td>
            <td>-</td>
          </tr>
          <tr>
            <td>Петров С.И.</td>
            <td>-</td>
            <td>-</td>
            <td>14:00-18:00</td>
            <td>9:00-18:00</td>
            <td>-</td>
            <td>10:00-15:00</td>
          </tr>
          <tr>
            <td>Невролог</td>
            <td>Сидорова М.В.</td>
            <td>8:00-16:00</td>
            <td>8:00-16:00</td>
            <td>8:00-16:00</td>
            <td>8:00-16:00</td>
            <td>8:00-16:00</td>
            <td>9:00-13:00</td>
          </tr>
          <tr>
            <td>Кардиолог</td>
            <td>Сосулькин П. П.</td>
            <td>-</td>
            <td>8:00-16:00</td>
            <td>8:00-16:00</td>
            <td>-</td>
            <td>8:00-16:00</td>
            <td>-</td>
          </tr>
          <tr>
            <td rowspan="2">Дерматолог</td>
            <td>Хлюпкин Р. В.</td>
            <td>9:00-13:00</td>
            <td>-</td>
            <td>-</td>
            <td>9:00-15:00</td>
            <td>10:00-14:00</td>
            <td>-</td>
          </tr>
          <tr>
            <td>Кукушкина С. С.</td>
            <td>-</td>
            <td>9:00-12:00</td>
            <td>14:00-18:00</td>
            <td>9:00-18:00</td>
            <td>-</td>
            <td>10:00-15:00</td>
          </tr>
          <tr>
          <tr>
            <td>Гастроэнтеролог</td>
            <td>Милешко А.В.</td>
            <td>8:00-16:00</td>
            <td>-</td>
            <td>8:00-16:00</td>
            <td>8:00-16:00</td>
            <td>8:00-16:00</td>
            <td>9:00-13:00</td>
          </tr>

          <!-- Остальные строки по аналогии -->
        </tbody>
      </table>
</div>

</div></body>
</html>